body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:490px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1060px;
  height:490px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:237px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:156px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:156px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:156px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:156px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:156px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:156px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
