body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:638px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:638px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:311px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:130px;
  width:706px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  white-space:nowrap;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:638px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
