body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:555px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:555px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:184px;
  width:64px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:141px;
  width:373px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:68px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:168px;
  width:372px;
  height:68px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:177px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:177px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:177px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:177px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:177px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:177px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
